@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  justify-content: center;
}
body {
  background-image: url("../../public/iStock-124980570.jpg");
  background-size: cover;
  overflow-y: auto;
}
@media screen and (max-width: 996px){
  .image-navbar-desktop{
    display: none;
  }
}
@media screen and (width > 996px){
  .image-navbar-mobile{
    display: none;
  }
}
.button{
  align-content: center;
  background-color: white;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: inset 0 0 0 0 #ffff;
  transition: ease-out .4s;
  outline: none;
  width: 292px;
  position: absolute;
  bottom: 0;
}
.button:hover{
  box-shadow: inset 292px 0 0 0 #ff8b07b5;
  color: black;
  opacity: 0.9;
}
.button-image{
  position: relative;
}
.container{
  height: 70vh;
  justify-content: center;
  align-items: center;
  gap: 50px
}
@media screen and (max-width: 996px){
  .container{
    flex-direction: column;
  }
  .button-image img{
    display: none;
  }
  .button{
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 150px;
  }
}
