@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../public/iStock-124980570.jpg");
  background-size: cover;
  overflow-y: auto;
}
.hidden {
    display: none;
  }